---
import "../styles/global.css"
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import NextJS from "./icons/NextJS.astro"
import PostgreSql from "./icons/PostgreSql.astro"
import ReactNative from "./icons/ReactNative.astro"
import Supabase from "./icons/Supabase.astro"
import Tailwind from "./icons/Tailwind.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  REACTNATIVE: {
    name: "React Native",
    class: "bg-black text-white",
    icon: ReactNative,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white",
    icon: PostgreSql,
  },
  SUPABASE: {
    name: "Supabase",
    class: "bg-[#f4c20d] text-black",
    icon: Supabase,
  },
}
const PROJECTS = [
  {
    title: "NFlix - APP sobre informacion de cine y series",
    description:
      "Realizada con React Native, la aplicación nos permite ver información sobre peliculas y series, desde un breve resumen, hasta los actores, incluyendo la opción de ver el trailer.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/juanmagp80/NFlix",
    image: "/projects/nflix.png",
    tags: [TAGS.REACTNATIVE, TAGS.TAILWIND],
  },
  {
    title: "Farmacia Santa María",
    description:
      "Web corporativa para una farmacia real, en la que implementé entre otros servicios, la funcionalidad de poder realizar citas online para consultas, enfocado a las personas que no se pueden desplazar fisicamente a la farmacia",
    link: "https://farmaciasantamaria.vercel.app/",
    github: "https://github.com/juanmagp80/farmaciasantamaria",
    image: "/projects/farmacia.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.POSTGRESQL, TAGS.SUPABASE],
  },
  {
    title: "Web corporativa para el canal de Youtube, 'El 10 del Barça'",
    description:
      "Web realizada para el canal, en el que los redactores pueden subir sus noticias desde un panel de administrador. La conexión con la API de Youtube, muestra si hay un video en directo, y si no lo hay muestra el último directo.",
    github: "https://github.com/juanmagp80/10barca",
    image: "/projects/10barca.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.POSTGRESQL, TAGS.SUPABASE],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img
            alt=""
            class="object-cover object-top w-full h-48 md:h-80 lg:h-64 transition duration-500 sm:h-80 md:scale-110 md:group-hover:scale-105"
            loading="lazy"
            src={image}
          />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>
